<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.springboard.model.mapper.BoardMapper">

    <!-- 전체 게시물 조회 -->
    <select id="전체게시물" resultType="com.board.springboard.model.dto.Board">
        SELECT *
        FROM board
        ORDER BY board_no DESC
    </select>

    <!-- 게시물 하나 조회
    WHERE board_no = #{???}
    DBEAVER의 SQL 에서 하나의 게시물을 조회할 경우  WHERE board_no = 1 과 같이 작성
    JAVA 에서 클라이언트가 보고자하는 상세 게시물을 클라이언트 눈에보여줄 필요가 있다.

    WHERE board_no = #{???} 는 소비자가 선택한 번호를 넣는 곳
    #{???} = JSP 에서 소비자가 선택한 번호를 백엔드로 넘겨받음
             소비자가 선택한 번호를 넘겨받은 백엔드는 SQL에 전달하기 위에 데이터를 담을 공간 필요
             데이터가 담길 공간을 com.board.springboard.model.dto.Board 내부에 작성한
             변수 공간을 선택하고, 선택된 공간을 #{???} 공간의 명칭을 작성하는 것


    -->
    <select id="단일게시물" resultType="com.board.springboard.model.dto.Board">
        SELECT *
        FROM board
        WHERE board_no = #{board_no}
    </select>

    <!--
    게시물 추가
    useGeneratedKeys : mysql 존재하는 속성 DB 가 자동 생성한 primary key 를 Java 객체에 넣어줌
    keyProperty      : Board.java 의 board_no 필드에 자동 생성된 primary key 세팅
    -> 이 설정이 있어야 BoardService.java 에서 board.getBoard_no() 로 방금 저장된 번호를 실 시 간으로 꺼낼 수 있다.
    board table board_image table 이 서로 연관
    board 에서 생성한 기본 키를 board_img FK 로 사용해야할 경우 board_no 번호를
    자바에서 저장한 다음에 board_img FK로 넘겨주이 위한 수단
    -->
    <insert id="게시물추가"
            parameterType="com.board.springboard.model.dto.Board"
            useGeneratedKeys="true"
            keyProperty="board_no"
    >
        INSERT INTO board (title, content, writer, created_at, view_count, attach_img)
        VALUES (#{title}, #{content}, #{writer}, NOW(), 0, #{attach_img})
    </insert>

    <!-- 게시물 수정 -->
    <update id="게시물수정" parameterType="com.board.springboard.model.dto.Board">
       UPDATE board
       SET title = #{title}, content = #{content}
       WHERE board_no = #{board_no}
    </update>

    <!-- 게시물 삭제 -->
    <delete id="게시물삭제" parameterType="int">
        DELETE FROM board
        WHERE board_no = #{board_no}
    </delete>
    <!-- 조회수 수정 -->
    <update id="조회수수정" parameterType="int">
        UPDATE board
        SET view_count = view_count + 1
        WHERE board_no = #{board_no}
    </update>
</mapper>