<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.springboard.model.mapper.ProductMapper">
    <select id="전체제품목록" resultType="com.board.springboard.model.dto.Board">
        select *
        from products
        order by id desc
    </select>
    <select id="제품단건" resultType="com.board.springboard.model.mapper.BoardMapper">
        select *
        from products
        where id = #{id}
    </select>

    <insert id="제품추가" parameterType="com.board.springboard.model.mapper.BoardMapper">
        INSERT INTO products (name, price, stock)
        values (#{name}, #{price}, #{stock})
    </insert>

    <update id="제품수정" parameterType="com.board.springboard.model.mapper.BoardMapper">
        UPDATE products
        SET name = #{name}, price = #{price}, stock=#{stock}
        WHERE id = #{id}
    </update>

    <delete id="제품삭제">
        DELETE FROM products
        WHERE id = #{id}
    </delete>

</mapper>