<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
SQL 에서는 대소문자 구분을 하지 않는다.
하지만, 자바, 자바스크립트 에서는 대소문자 구분을 한다.

SQL 에서는 카멜 케이스가 적용되지 않기 때문에 스네이크 케이스(_) 를 사용
자바에서는 카멜 케이스를 주로 사용

SQL - Java 연동
SQL  에서 스네이크 케이스로 작성한 컬럼명칭
Java 에서    카멜 케이스로 작성한 컬럼명칭
과 동일한 명칭 alias 개념

.. .... 파스칼 케이스 케밥 케이스

케이스 : 카멜 / 스네이크 / 파스칼 / 케밥 케이스

명명 규칙
폴더이름 / 폴더 내 파일이름
api 명칭 / endpoint 명칭에 대하여 정의

api = endpoint 의 주소메뉴판
endpoint = 개별 주소
-->
<mapper namespace="com.board.springboard.model.mapper.UserMapper">

    <select id="전체유저들" resultType="com.board.springboard.model.dto.User">
        SELECT *
        FROM users
    </select>

    <insert id="회원가입" parameterType="com.board.springboard.model.dto.User">
        INSERT INTO users(name,     email, create_at, password)
        VALUES         (#{name}, #{email}, NOW(), #{password})
    </insert>

    <select id="이메일중복체크" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>

    <select id="로그인" parameterType="String" resultType="com.board.springboard.model.dto.User">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <select id="이메일로유저찾기" parameterType="String" resultType="com.board.springboard.model.dto.User">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <!--
    #{profile_img} -> #{profileImg} 교체해서 사용해보기
    자바에서 선언한 필드이름과 SQL에 작성한 컬럼명칭을
    카멜케이스와 스네이크케이스로 맞추어 사용할 수 있다.
    -->
    <update id="프로필사진수정" parameterType="com.board.springboard.model.dto.User">
        UPDATE users
        SET profile_img = #{profile_img}
        WHERE id = #{id}
    </update>

    <!-- select id="유저단건조회"
         parameterType="String" User에서 email 이나 name 으로 유저정보를 조회할 때 사용
                                개발자가 유저를 조회할 때 어떠한 방식으로 조회할 것인지에 따라 방향이 달라짐
         resultType="com.board.springboard.model.dto.User" -->
    <select id="유저단건조회" parameterType="int" resultType="com.board.springboard.model.dto.User">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <!-- TODO 1: id, parameterType, SET 절, WHERE 절을 채우세요 -->
    <update id="유저정보수정" parameterType="com.board.springboard.model.dto.User">
        UPDATE users
        SET name  = #{name},
            email = #{email}
        WHERE id = #{id}
    </update>
</mapper>